<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/scss" href="menuinit.component.scss">
</head>
<body>
    <header class="login-header">
        <img class="login-img" src="/assets/img/logoanimals.png">
        <div class="login-logo">
            <h2 class="login-name">ANIMALS</h2>
        </div> 
        <div>
            <button class="home" type="button" onclick="location.href='login'">SALIR</button><br>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <nav>
        <ul>
          <li><a href="rpersonal"><img src="/assets/img/botonesdelmenu/Pagina1.png" ></a></li>
          <li><a href="rperros"><img src="/assets/img/botonesdelmenu/Pagina2.png" ></a></li>
          <li><a href="alimperrosMostrar"><img src="/assets/img/botonesdelmenu/Pagina3.png" ></a></li>
          <li><a href="rmedicosperros"><img src="/assets/img/botonesdelmenu/Pagina4.png" ></a></li>
          <li><a href="contcomidperrosLista"><img src="/assets/img/botonesdelmenu/Pagina5.png" ></a></li>
          <li><a href="adopperros"><img src="/assets/img/botonesdelmenu/Pagina6.png" ></a></li>
        </ul>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
</body>
</html>
